@import "tailwindcss";

@theme {
  --color-paper: #fafaf7;
  --color-ink: #101014;
  --color-gold: #f5b841;
}

body {
  background-color: var(--color-paper);
  color: var(--color-ink);
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  margin: 0;
  padding: 0;
}
