@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --badge-separator-color: black;
  --badge-gradient-start: white;
}


html[data-theme='black'] {
  --badge-separator-color: white;
  --badge-gradient-start: black;
}


html[data-theme='black'] .links,
html[data-theme='black'] .base-logo {
    filter: invert(1);
}


html {
    scrollbar-width: 1px;
    -ms-overflow-style: none;
    caret-color: #A1A1A1;
}


::-webkit-scrollbar {
    width: 5px;
}


::-webkit-scrollbar-thumb {
    background-color: #A1A1A1;
}

@media (hover: none) {
  [data-tip]:focus,
  [data-tip]:active {
    
  }
}

input::placeholder,
textarea::placeholder {
    text-align: center;
    position: absolute;
    font-size: 1.5rem;
    color: #A1A1A1;
    opacity: 1;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
}


input::before,
textarea::before {
    animation: blink 2s infinite alternate;
}


@keyframes blink {
    from { opacity: 1; }
    to { opacity: 0; }
}


.shakes .badge {
  position: relative;
}


.shakes .badge:not(:last-child)::after {
  content: '';
  position: absolute;
  top: 50%;
  right: -1px;
  transform: translate(100%, -50%);
  width: 1.5rem;
  height: 1px;
  z-index: 0;
  background-color: var(--badge-separator-color);
}


.shakes {
    position: relative;
    overflow: hidden;
}


.shakes::before,
.shakes::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    width: 20px;
    pointer-events: none;
}


.shakes::before {
    left: 0;
    z-index: 1000;
    background: linear-gradient(to right, var(--badge-gradient-start), transparent);
}


.shakes::after {
    right: 0;
    background: linear-gradient(to left, var(--badge-gradient-start), transparent);
}


.no-scrollbar::-webkit-scrollbar {
    display: none;
}
